.secI{
	background-color: #02b3e4;
}
.secI img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.secI{
	text-align: center;
	color: 	#FFFAFA;

}
.secI .screen{
	padding-top: 2rem;
	padding-bottom: 1rem;
}

#blackBox {
	background-color:  #000000;
  	width: 700px;
  	/*border: 15px solid  #000000;*/
  	padding: 80px;
  	display: block;
	margin-left: auto;
	margin-right: auto;
}

.col{
	width: 15rem;
	height: 8rem;
	display: inline-grid;
	padding: 20px;
	margin: 2rem;
	background-color: #ffffff;
	color: black;
}
/*-----------------------------------------------------------*/


.secII{
	background-color: #000000;
}



.footer{
	
	padding: 5rem;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}
hr{
	width: 50%;

}